
<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Sergio de Morais", "https://www.linkedin.com/in/sergio-rodrigues-de-morais-307b82174/", class: "text-white" %></small>
  </div>
</footer>